.outer-containe-success {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.success-success {
    color: #007bff; /* Red color for error */
}

p {
    font-size: 18px;
}

.success-box-success {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 400px;
}

/* Custom styling for the "Go Back" button */
.go-back-button-success {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.go-back-button-success:hover {
    background-color: #0056b3;
    border-radius: 20px;
}